<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../partials/head.ejs') %>
    <title>Search</title>
  </head>
  <body>
    <header><%- include('../partials/nav.ejs') %></header>

    <main>
      <form action="/search" method="get">
        <input
          type="text"
          name="search"
          value="<%= searchQuery %>"
          placeholder="Search for movies..."
        />
        <button type="submit">Search</button>
      </form>
    </main>

    <%- include('../components/api.ejs') %> <%-
    include('../partials/footer.ejs') %>
  </body>
</html>
