<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../partials/head.ejs') %>
    <title>Search</title>
  </head>
  <body>
    <header><%- include('../partials/nav.ejs') %></header>

    <main>
      <form action="/search" method="get">
        <input
          type="text"
          name="search"
          id="name"
          value="<%= searchQuery %>"
          placeholder="Search for movies..."
        />
        <button type="submit">Search</button>
      </form>
    </main>

    <%- include('../components/topMovies.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="../scripts/main.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
